<ascendere-navbar></ascendere-navbar>

<ascendere-page-title>
    Ascendere Camp
</ascendere-page-title>

<main class="w-full max-w-5xl mx-auto px-4 mt-20 flex flex-col items-start gap-8">

    <ascendere-circle-icon class="self-center" src="/assets/images/liid.svg" [bigBorders]="true" alt="Liid">
    </ascendere-circle-icon>

    <p class="text-white text-xl">
        Desarolla tus prácticas pre-profesionales en el Laboratorio de Investigación
        e Innovación Docente (LiiD UTPL), solo debes participar en el taller
        <b>Ascendere Camp</b> para tu inducción a las diferentes líneas en las
        cuales te puedes desempeñar y formar parte de nuestro equipo
        <b>ASCENDERE</b>.
    </p>
</main>

<section class="w-full max-w-5xl mx-auto px-4 mt-14 flex flex-col items-start gap-4">
    <h4 class="text-center text-white text-xl">
        ¿Que significa pertenecer al Proyecto Ascendere?
    </h4>
    <ul class=" text-white text-lg list-disc ml-6">
        <li>Un espacio para realizar tus prácticas pre profesionales.</li>
        <li>Generar tus propuestas de investigación.</li>
        <li>Desarrollo prepofesional y laboral.</li>
        <li>Potenciar tus habilidades al máximo.</li>
        <li>Apoyo y asesoría del LiiD.</li>
        <li>Apoyo para conformar equipos multidisciplinarios.</li>
    </ul>

    <p class="text-white text-base">
        Podrás revisar la agenda y los talleres disponibles en la siguiente
        presentación.
    </p>
</section>

<section class="mt-20  mx-auto px-4 w-full  max-w-4xl ">
    <iframe class="border-8 border-ascendere-yellow aspect-video w-full" frameborder="0"
        src="https://view.genial.ly/5f19d43bc2b34d0d9cf02645" type="text/html" allowscriptaccess="always"
        allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
</section>

<section class="w-full max-w-5xl mt-20 mb-32 px-4 mx-auto flex flex-col gap-4 ">
    <p class="text-white">
        Las postulaciones estarán disponibles hasta el 17 de septiembre del 2020,
        para realizar tu postulación por favor registrar el siguiente
    </p>
    <a class="px-4 py-3 text-center text-lg truncate rounded-md text-ascendere-yellow bg-white self-start"
        href="https://forms.office.com/Pages/ResponsePage.aspx?id=qknrbm1D5kO-zbvfeeUHfZF45yi8OHxPlXIGaTvpSBtUM1lNQjhSQ0dRU1RFVzVWMjNZU1gzNlJZQi4u"
        target="_blank" rel="noopener noreferrer">
        Formulario
    </a>

</section>


<ascendere-footer></ascendere-footer>