<a [routerLink]="['/innovacion-docente', 'proyecto', proyecto.id]" [title]="proyecto.title"
    class="w-full h-full block  transform transition-transform hover:scale-105">
    <article class="w-full h-full rounded md:rounded-xl shadow overflow-hidden flex flex-row">
        <!-- main side -->
        <div class="bg-white px-6 py-4 w-5/6 flex flex-col gap-2">
            <h3 class="text-lg lg:text-xl line-clamp-2 font-medium grow mb-2">
                {{proyecto.title}}
            </h3>

            <p class="truncate">
                <b> Coordinador:</b> {{proyecto.coordinator.name}}
            </p>

            <p class="truncate">
                {{proyecto.strategicLine}}
            </p>

            <p class="truncate text-sm">
                <span *ngFor="let area of proyecto.faculties; let i = index">
                    <span *ngIf="i!== 0">,</span>
                    {{area.name | titlecase}}
                </span>
            </p>
            <p class="truncate text-sm">
                {{proyecto.type.name| titlecase}}
            </p>
        </div>

        <!-- goto arrow -->
        <div class="bg-ascendere-yellow w-1/6 flex items-center justify-center">
            <i class="text-white text-3xl bi bi-arrow-right-circle"></i>
        </div>
    </article>
</a>