<div class="flex">
    <div class="flex w-full">
        <h2 class="text-center text-ascendere-blue text-xl md:text-3xl font-medium mb-10 w-full">
            Webinars  
        </h2>
    </div>
    <div class="flex w-full justify-end">
        <a class="self-start text-lg px-6 py-2 rounded-full text-white bg-ascendere-yellow transform duration-300 hover:scale-105"
            routerLink="/webinars">
            Ver más <i class="bi bi-arrow-right"></i>
        </a>
    </div>
</div>

<div *ngIf="videos$|async as videos">
    <p class="text-white" *ngIf="videos.loading">
        Cargando webinars...
    </p>

    <p class="text-white" *ngIf="videos.error">
        Ocurrió un error al cargar los webinars
    </p>

    <div *ngIf="videos.data" class=" w-full grid grid-cols-auto-fit gap-10">
        <ascendere-webinar-card *ngFor="let video of videos.data" [video]="video">
        </ascendere-webinar-card>
    </div>


</div>