<section class="w-full max-w-7xl mx-auto pb-20 pt-10 md:pt-20 px-4">

    <!-- header -->
    <div class="flex flex-row items-center justify-between gap-8">
        <div class="max-w-4xl grow border-b-2 border-white pb-4 md:pb-6">
            <h2 class=" text-white text-xl sm:text-3xl font-medium ">
                Ascendere al aire
            </h2>
        </div>

        <ascendere-close-circle></ascendere-close-circle>
    </div>

    <!-- podcasts -->
    <div *ngIf="podcasts$|async as podcasts" class="mt-12 sm:mt-16 md:mt-20 ">
        <!-- loading state -->
        <p *ngIf="podcasts.loading" class="mx-auto text-white text-center text-xl my-20">
            Cargando Podcasts...
        </p>

        <!-- show items -->
        <div *ngIf="podcasts.data" class="grid grid-cols-auto-fit gap-10 md:gap-16 lg:gap24 xl:gap-32 ">
            <ascendere-podcast-card *ngFor="let podcast of podcasts.data;trackBy:identify" [podcast]="podcast"
                class="w-full">
            </ascendere-podcast-card>
        </div>

        <!-- error -->
        <p *ngIf="podcasts.error" class=" mx-auto text-white">
            Ocurrió un error al cargar los podcasts.
        </p>
    </div>

</section>