<footer class="relative bg-white w-full h-auto">

    <!-- background decoration -->
    <div class="absolute w-full h-auto inset-0"
        [ngClass]="{'bg-ascendere-blue':blueBackground, 'bg-ascendere-yellow':!blueBackground}">
        <div class="relative w-full h-full hidden md:block">

            <svg class="absolute top-0 bottom-0 h-full right-[29%]" viewBox="0 0 128 450" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M55.1407 450L45.4413 435C35.5598 420 16.4342 390 6.55269 360C-3.1467 330 -3.1467 300 13.8386 270C31.0061 240 64.7035 210 84.2844 180C103.865 150 108.419 120 96.4428 90C84.2844 60 55.1407 30 40.5689 15L25.997 3.10011e-07L128 1.52638e-06L128 15C128 30 128 60 128 90C128 120 128 150 128 180C128 210 128 240 128 270C128 300 128 330 128 360C128 390 128 420 128 435L128 450L55.1407 450Z"
                    fill="white" />
            </svg>

            <div class="absolute top-0 bottom-0 h-full w-[30%] right-0 bg-white flex items-center justify-center">
                <img src="assets/images/liid.svg" class="max-w-[12rem] xl:max-w-xs " alt="">
            </div>
        </div>
    </div>

    <!-- main content & interest links -->
    <div class="relative z-10 container mx-auto px-4 pt-8 pb-10">
    
        <aside class=" flex flex-col w-3/4 ">
            <!-- title -->
            <h3 class="text-white text-3xl lg:text-4xl font-medium mb-4">
                Contactos:
            </h3>

            <!-- links -->
            <div class="flex flex-row gap-6 lg:gap-10 pl-4 items-start pb-10 flex-wrap">
                <div>
                    <h4 class="text-white text-xl font-medium">
                        Teléfono:
                    </h4>
                    <span class="text-white text-lg whitespace-nowrap">
                        370 1444 - Ext. 2316 | 2851
                    </span>
                </div>

                <div>
                    <h4 class="text-white text-xl font-medium">
                        Correo Electrónico:
                    </h4>
                    <a class="text-white text-lg whitespace-nowrap" href="mailto:liid_utpl@utpl.edu.ec" target="_blank"
                        rel="noopener noreferrer">
                        liid_utpl@utpl.edu.ec
                    </a>
                </div>

                <div>
                    <h4 class="text-white text-xl font-medium">
                        Dirección:
                    </h4>
                    <span class="text-white text-lg whitespace-nowrap">
                        Edificio 9, Tercera Planta Alta
                        <Br>
                        Campus Utpl - San Cayetano Alto S/N
                    </span>
                </div>
                </div>

            <!-- social networks -->
            <div class="flex flex-col items-start">
                <h4 class="text-white text-3xl lg:text-4xl pb-4 font-medium">
                    Síguenos en:
                </h4>

                <div class="flex flex-row gap-8 md:gap-12 px-4">
                    <a class="text-2xl md:text-3xl lg:text-4xl text-white" href="https://www.instagram.com/liid_utpl/" target="_blank"
                        rel="noopener noreferrer">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a class="text-2xl md:text-3xl lg:text-4xl text-white" href="https://www.facebook.com/LiiDUTPL" target="_blank"
                        rel="noopener noreferrer">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a class="text-2xl md:text-3xl lg:text-4xl text-white"
                        href="https://www.youtube.com/channel/UCzRd2Y87-NJnVliV8B6e_Xg"
                        target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-youtube"></i>
                    </a>
                    <a class="text-2xl md:text-3xl lg:text-4xl text-white" href="https://twitter.com/liid_utpl" target="_blank"
                        rel="noopener noreferrer">
                        <i class="bi bi-twitter"></i>
                    </a>
                    </div>
                    </div>
                    </aside>
    </div>
</footer>