<ascendere-navbar></ascendere-navbar>

<ascendere-page-title>
    Ayudantes de Catedra
</ascendere-page-title>


<main class="w-full max-w-5xl mx-auto px-4 my-14 flex flex-col items-start gap-4">
    <p class="text-white text-base">
        En referencia a los ayudantes de cátedra e investigación, el actual Reglamento de Régimen Académico, en el
        Artículo 56 establece que: “Los estudiantes podrán realizar sus prácticas preprofesionales mediante ayudantías
        de cátedra o de investigación cuando, en correspondencia con sus requerimientos institucionales, las IES los
        seleccionen por su desempeño académico. Las ayudantías de docencia o de investigación podrán ser remuneradas o
        no, según la normativa interna institucional, y serán planificadas y evaluadas de acuerdo con el modelo
        educativo de la IES y sus requerimientos académicos para ser acreditadas como prácticas preprofesionales”.
    </p>


    <h4 class="text-center text-white font-medium text-xl">
        ¿Quién es el ayudante de cátedra?
    </h4>
    <p class="text-white text-base">
        Según el Reglamento de carrera y escalafón del docente e investigador del sistema de Educación Superior, define
        al ayudante de cátedra o de investigación al estudiante que asiste a un docente o investigador en sus
        actividades de docencia e investigación, conforme a las especificaciones y directrices y bajo la responsabilidad
        de éste. No sustituye ni reemplaza al docente o investigador.
        <br>
        El ayudante de cátedra es un estudiante que por sus méritos académicos será seleccionado para cumplir funciones
        concretas y específicas relacionadas con actividades de docencia, investigación y prácticum únicamente para
        modalidad presencial.
        <br>
        El estudiante podrá ser renovado como ayudante de cátedra, después de una evaluación positiva y por pedido
        expreso del docente.
    </p>

    <h4 class="text-center text-white font-medium text-xl">
        Funciones del ayudante de cátedra Modalidad Presencial
    </h4>
    <p class="text-white text-base">
        Las funciones que cumplirá el ayudante de cátedra con responsabilidad, puntualidad y oportunidad son las
        siguientes:
    </p>
    <ul class=" text-white text-lg list-disc ml-6">
        <li>Guiar trabajos individuales y grupales de los estudiantes.</li>
        <li>Apoyar al profesor en las actividades de tutoría.</li>
        <li>
            Apoyar a los estudiantes que evidencian un bajo rendimiento académico.
        </li>
        <li>Colaborar con la recepción de trabajos prácticos.</li>
        <li>
            Apoyar en la supervisión de evaluaciones con la presencia del profesor.
        </li>
        <li>
            El ayudante de cátedra puede colaborar en el dictado de clases teóricas
            o prácticas bajo la tutela del profesor de la asignatura
        </li>
        <li>
            Su horario de ayudantía será de un máximo de 4 horas semanales, y
            cumplirá sus funciones durante el semestre académico.
        </li>
        <li>
            El estudiante puede ser renovado como ayudante de cátedra, después de
            una evaluación positiva y por pedido del profesor.
        </li>
    </ul>
    <h4 class="text-center text-white font-medium text-xl">
        Estos son los requisitos que debes cumplir:
    </h4>
    <p class="text-white text-base">
        Para acceder a la ayudantía de cátedra, los postulantes deberán cumplir
        con los siguientes requisitos:
    </p>
    <ul class=" text-white text-lg list-disc ml-6">
        <li>Ser alumno matriculado en el período académico en curso.</li>
        <li>
            Haber obtenido una nota en la asignatura, nivel o campo académico motivo
            de la postulación, ubicada en el quintil más alto de su cohorte;
            Artículo 28 literal b del Reglamento de carrera y escalafón del profesor
            e investigador del sistema de Educación Superior.
        </li>
        <li>
            Demostrar un rendimiento académico en la titulación, cuyo promedio sea de 7/10 o de 30/40.
        </li>
        <li>
            Haber aprobado o estar matriculado en la asignatura de Gestión
            Productiva 3.
        </li>
        <li>
            Ser un alumno con perfil de investigador, liderazgo, vocación de
            servicio, iniciativa, compromiso y mantener buenas relaciones
            interpersonales.
        </li>
        <li>No registrar ninguna sanción disciplinaria.</li>
    </ul>

    <h4 class="text-center text-white font-medium text-xl">
        Reconocimiento
    </h4>
    <p class="text-white text-base">
        El estudiante que sea seleccionado para desarrollar la ayudantía de
        cátedra gozará de una beca de Responsabilidad Universitaria, cuyo
        porcentaje va del 40% al 70%, la misma que no es sumativa en el caso de
        que el estudiante posea otro tipo de beca y será acreditada en el semestre
        siguiente previa evaluación positiva de su desempeño como ayudante de
        cátedra.
    </p>
    <a class="px-4 py-3 text-center text-lg truncate rounded-md text-ascendere-yellow bg-white self-start"
        href="https://firebasestorage.googleapis.com/v0/b/web-sg-ascendere.appspot.com/o/Proyecto%20ayudante%20de%20c%C3%A1tedra_octubre2020_febrero2021.pdf?alt=media&token=5d21febd-65c4-403f-b24a-82807fc05fc1"
        target="_blank" rel="noopener noreferrer">
        Más información
    </a>
</main>

<ascendere-footer></ascendere-footer>